@use '@angular/material' as mat;

article {
  h2 {
    margin-top: 0;
  }

  margin-bottom: 4rem;
  padding: 2rem;
  border: 1px solid mat.get-color-from-palette(mat.$teal-palette, 200, 0.2);
  border-radius: 3px;
}
