@use '@angular/material' as mat;

div.aside {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  padding: 0 1rem;
  position: relative;

  .slider {
    position: absolute;
    left: 0.5px;
    top: 10px;
    bottom: 15px;
    width: 1px;
    background-color: mat.get-color-from-palette(mat.$teal-palette, 200, 0.1);
  }

  span.heading {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: auto;
    font-weight: 400;
    padding-bottom: 1rem;
    color: white;
    border-bottom: 1px solid
      mat.get-color-from-palette(mat.$teal-palette, 200, 0.2);
  }

  span.heading.active::before,
  span.heading:hover::before {
    top: 5px;
  }

  li.active > div::before,
  li:hover > div::before {
    top: 12px;
  }

  span.heading::before,
  li > div::before {
    display: block;
    content: '';
    opacity: 0;
    position: absolute;
    left: -18.5px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    transition: opacity 150ms ease-in;
  }

  span.heading.active::before,
  span.heading:hover::before,
  li.active > div::before,
  li:hover > div::before {
    opacity: 1;
  }

  span.heading:hover::before,
  li:hover > div::before {
    background-color: white;
  }

  span.heading.active::before,
  li.active > div::before {
    background-color: mat.get-color-from-palette(mat.$teal-palette, 500);
  }

  ul {
    padding-left: 0;
    list-style-type: none;
    width: 100%;

    li {
      padding: 0.5rem 0;
      color: white;
      position: relative;
      cursor: pointer;
      width: 100%;

      div {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  //mat-nav-list {
  //  padding-bottom: 0;
  //}
  //
  //mat-list-item {
  //  height: auto !important;
  //  padding: .5rem .5rem .5rem 0;
  //  position: relative;
  //
  //  &.active .mdc-list-item__content::before {
  //    content: '';
  //    display: block;
  //    position: absolute;
  //    top: 12px;
  //    left: -20px;
  //    height: 7px;
  //    width: 7px;
  //    background-color: green;
  //    border-radius: 50%;
  //  }
  //
  //
  //  .mat-mdc-list-item-title::before {
  //    height: 0 !important;
  //  }
  //}
}
